
{% macro print(schedule) %}
    {% import _self as macro %}
    {% import "GSApiBundle:Address:macros.html.twig" as macro_address %}
    {% if schedule.frequency == 'weekly' %}
        Horaire : le {{ macro.print_day(schedule.startDate|date('w')) }}
        de {{ schedule.startTime|date('H:i', timezone="Europe/Paris") }}
        à {{ schedule.endTime|date('H:i', timezone="Europe/Paris") }}
        <br>
        Date : du {{ schedule.startDate|date('d/m/Y', timezone="Europe/Paris") }}
        au {{ schedule.endDate|date('d/m/Y', timezone="Europe/Paris") }}
    {% else %}
        Horaire : le {{ macro.print_day(schedule.startDate|date('w')) }}
        {{ schedule.startDate|date('d/m/Y', timezone="Europe/Paris") }}
        de {{ schedule.startTime|date('H:i', timezone="Europe/Paris") }}
        à {{ schedule.endTime|date('H:i', timezone="Europe/Paris") }}
    {% endif %}
    <br>
    {% if schedule.venue %}
        Lieu :
        <a href="{{ path('view_venue', {'id': schedule.venue.id}) }}">
            {{ schedule.venue.name }}
        </a>
        ({{ macro_address.print_short(schedule.venue.address) }})
        <br>
    {% endif %}
    {% if schedule.teachers %}
        Profs : {{ schedule.teachers }}
        <br>
    {% endif %}
{% endmacro %}

{% macro print_day(day) %}
    {% if day == 0 %}
        dimanche
    {% elseif day == 1 %}
        lundi
    {% elseif day == 2 %}
        mardi
    {% elseif day == 3 %}
        mercredi
    {% elseif day == 4 %}
        jeudi
    {% elseif day == 5 %}
        vendredi
    {% else %}
        samedi
    {% endif %}
{% endmacro %}

{% macro print_short(schedule) %}
    {% import _self as macro %}
    {% import "GSApiBundle:Address:macros.html.twig" as macro_address %}
    {{ macro.print_day(schedule.startDate|date('w')) }}
    {{ schedule.startTime|date('H:i', timezone="Europe/Paris") }}
    à {{ schedule.endTime|date('H:i', timezone="Europe/Paris") }}
    {% if schedule.venue %}
        - {{ schedule.venue.name }}
    {% endif %}
    {% if schedule.teachers %}
        ({{- schedule.teachers -}})
    {% endif %}
{% endmacro %}

