{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Supprimer une activité</h2>

    <p>
        Etes-vous certain de vouloir supprimer l'activité "{{ activity.title }}" ?
    </p>

    <form action="{{ path('delete_activity', {'id': activity.id}) }}" method="post">
        <a href="{{ path('view_activity', {'id': festival.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'activité
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
