{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Supprimer une catégorie</h2>

    <p>
        Etes-vous certain de vouloir supprimer la catégorie "{{ category.name }}" ?
    </p>

    <form action="{{ path('delete_category', {'id': category.id}) }}" method="post">
        <a href="{{ path('view_category', {'id': category.id}) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Retour à la catégorie
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
