{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Supprimer un justificatif</h2>

    <p>
        Etes-vous certain de vouloir supprimer le justificatif "{{ certificate.display }}" ?
    </p>

    <form action="{{ path('delete_certificate', {'id': certificate.id}) }}" method="post">
        <a href="{{ path('view_certificate', {'id': certificate.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour au justificatif
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
