{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>{{ certificate.display }}</h2>

    <p>
        <a href="{{ path('homepage') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'accueil
        </a>
        <a href="{{ path('edit_certificate', {'id': certificate.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier le justificatif
        </a>
        <a href="{{ path('delete_certificate', {'id': certificate.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer le justificatif
        </a>
    </p>
    <p>
        <a class="btn btn-default" href="{{ vich_uploader_asset(certificate, 'file') }}">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            Télécharger justificatif
        </a>
    </p>

    <h3>Justificatif pour l'année</h3>
    {{ certificate.year.title }}

    <h3>Validité</h3>
    Du {{ certificate.startDate|date('d/m/Y', timezone="Europe/Paris") }}
    au {{ certificate.endDate|date('d/m/Y', timezone="Europe/Paris") }}

{% endblock %}
