{% extends "GSAdminBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Clore une activité</h2>

    <p>
        Etes-vous certain de vouloir fermer l'activité "{{ activity.title }}" ?
    </p>

    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        Cette action fermera tous les cours/ateliers/... de l'activité !
    </div>

    <form action="{{ path('gsadmin_close_activity', {'id': activity.id}) }}" method="post">
        <a href="{{ path('gsadmin_view_activity', {'id': activity.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour a l'activité
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Fermer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
