{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>
        {{ society.name }}
    </h2>

    <p>
        <a href="{{ path('homepage') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Retour à l'accueil
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('edit_society') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Modifier la société
            </a>
            <a href="{{ path('gs_etran_edit_config', {'id': society.paymentConfig.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Modifier la config pour les paiements
            </a>
        {% endif %}
    </p>

    {% import "GSApiBundle:Address:macros.html.twig" as macro %}
    {{ macro.print_long(society.address) }}

    <h3>Email</h3>
    {{ society.email }}

    <h3>Téléphone</h3>
    {{ phone_number_format(society.phoneNumber) }}

    <h3>SIRET</h3>
    {{ society.taxInformation }}

    <h3>TVA</h3>
    {{ society.vatInformation }}

    <h3>Templates pour les emails de paiement</h3>
    Layout des emails (ne pas modifier sauf si vous savez ce que vous faites)
    <a href="{{ path('lexik_mailer.layout_edit', {'layoutId': society.emailPaymentLayout.id}) }}" class="btn btn-default btn-xs"
            data-toggle="tooltip" data-placement="top" title="Editer">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Modifier
    </a>
    <br>
    Template des emails (à personnaliser selon vos besoins)
    <a href="{{ path('lexik_mailer.email_edit', {'emailId': society.emailPaymentTemplate.id}) }}" class="btn btn-default btn-xs"
            data-toggle="tooltip" data-placement="top" title="Editer">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Modifier
    </a>

    {% if is_granted('ROLE_ADMIN') and society.paymentEnvironment %}
        <h3>Config paiements</h3>
        {{ society.paymentEnvironment.name }}
    {% endif %}

    <h3>Liste des années</h3>

    {% import "GSApiBundle:Year:macros.html.twig" as macro %}
    <ul>
        {% for year in society.years %}
            <li>
                <a href="{{ path('view_year', {'id': year.id}) }}">
                    {{ macro.print_title(year) }}
                </a>
            </li>
        {% else %}
            <li>Pas (encore !) d'année</li>
        {% endfor %}

        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('add_year', {'id': society.id}) }}" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Ajouter une année
                </a>
            </li>
        {% endif %}
    </ul>

{% endblock %}
