{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Supprimer une année</h2>

    <p>
        Etes-vous certain de vouloir supprimer l'année "{{ year.title }}" ?
    </p>

    <form action="{{ path('delete_year', {'id': year.id}) }}" method="post">
        <a href="{{ path('view_year', {'id': year.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'année
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
