{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    {% import "GSApiBundle:Year:macros.html.twig" as macro %}
    <h2>
        {{ macro.print_title(year) }}
    </h2>

    <p>
        <a href="{{ path('homepage') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Retour à l'accueil
        </a>
        {% if is_granted("add_activity", year) %}
            <a href="{{ path('add_activity', {'id': year.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Ajouter une activité
            </a>
        {% endif %}
        {% if is_granted("open", year) %}
            <a href="{{ path('open_year', {'id': year.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Ouvrir l'année
            </a>
        {% endif %}
        {% if is_granted("close", year) %}
            <a href="{{ path('close_year', {'id': year.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Fermer l'année
            </a>
        {% endif %}
        {% if is_granted("ROLE_SECRETARY") %}
            <a href="{{ path('index_member', {'id': year.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                Liste des membres
            </a>
        {% endif %}
        {% if is_granted("edit", year) %}
            <a href="{{ path('edit_year', {'id': year.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Modifier l'année
            </a>
        {% endif %}
        {% if is_granted("delete", year) %}
            <a href="{{ path('delete_year', {'id': year.id}) }}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Supprimer l'année
            </a>
        {% endif %}
    </p>

    <h3>Description</h3>
    <div class="well">
        {{ year.description }}
    </div>

    <h3>Date</h3>
    Du {{ year.startDate|date('d/m/Y', timezone="Europe/Paris") }}
    au {{ year.endDate|date('d/m/Y', timezone="Europe/Paris") }}

    {% import "GSApiBundle:Activity:macros.html.twig" as macro_activity %}
    <h3>Liste des activités :</h3>
    <ul>
        {% for activity in year.activities %}
            <li>
                {{ macro_activity.print_title(activity) }}
                <a href="{{ path('view_activity', {'id': activity.id}) }}" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Voir
                </a>
            </li>
        {% else %}
            <li>Pas (encore !) d'activités</li>
        {% endfor %}

        {% if is_granted("add_activity", year) %}
            <li>
                <a href="{{ path('add_activity', {'id': year.id}) }}" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Ajouter une activité
                </a>
            </li>
        {% endif %}
    </ul>

    <h3>Liste des profs :</h3>
    {{ year.teachers|join(', ') }}

    {% if is_granted("edit", year) %}
        <h3>Liste des admins :</h3>
        {{ year.owners|join(', ') }}
    {% endif %}
{% endblock %}
