{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Fermer un cours/niveau</h2>

    <p>
        Etes-vous certain de vouloir fermer le cours/niveau "{{ topic.title }}" ?
    </p>

    <form action="{{ path('close_topic', {'id': topic.id}) }}" method="post">
        <a href="{{ path('view_topic', {'id': topic.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour au cours/niveau
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Fermer" class="btn btn-danger" />
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}
