{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    {% import "GSApiBundle:Topic:macros.html.twig" as macro %}
    {% import "GSApiBundle:Registration:macros.html.twig" as macro_reg %}

    <h2>
        {{ macro.print_title(topic) }}
    </h2>

    <p>
        <a href="{{ path('view_activity', {'id': topic.activity.id}) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Retour à l'activité
        </a>
        {% if is_granted("open", topic) %}
            <a href="{{ path('open_topic', {'id': topic.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Ouvrir le topic
            </a>
        {% endif %}
        {% if is_granted("close", topic) %}
            <a href="{{ path('close_topic', {'id': topic.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Fermer le topic
            </a>
        {% endif %}
        {% if is_granted("edit", topic) %}
            <a href="{{ path('edit_topic', {'id': topic.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Modifier le topic
            </a>
        {% endif %}
        {% if is_granted("delete", topic) %}
            <a href="{{ path('delete_topic', {'id': topic.id}) }}" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Supprimer le topic
            </a>
        {% endif %}
        {% if topic.state == 'OPEN' and topic not in user_topics%}
            <a href="{{ path('add_registration', {'id': topic.id}) }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                S'inscrire
            </a>
        {% endif %}
    </p>

    <h3>Description</h3>
    <div class="well">
        {{ topic.description }}
    </div>

    {% import "GSApiBundle:Schedule:macros.html.twig" as macro %}
    <h3>Planning :</h3>
    {% if topic.schedules|length > 2 %}
        <ul>
            {% for schedule in topic.schedules %}
                <li>
                    {{ macro.print(schedule) }}
                </li>
            {% endfor %}
        </ul>
    {% elseif topic.schedules|length > 0 %}
        {{ macro.print(topic.schedules[0]) }}
    {% else %}
        Pas (encore !) de planning
    {% endif %}

    <h3>Mon inscription :</h3>
        <ul>
            {% for registration in user_registrations %}
                <li>
                    {{ macro_reg.print_state(registration) }}
                    {{ registration.account.displayName }}
                    <a href="{{ path('view_registration', {'id': registration.id}) }}" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Voir
                    </a>
                </li>
            {% else %}
                <li>
                    Pas (encore) inscrit !
                    <a href="{{ path('add_registration', {'id': topic.id}) }}" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        S'inscrire
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% if is_granted("moderate", topic) %}
        <h3>Liste des inscriptions :</h3>
        <ul>
            {% for registration in topic.registrations %}
                <li>
                    {{ macro_reg.print_state(registration) }}
                    {{ registration.account.displayName }}
                    {% if registration.withPartner %}
                        {% if registration.partnerRegistration %}
                            - partenaire: {{ registration.partnerRegistration.account.displayName }}
                        {% else %}
                            - partenaire: {{ registration.partnerFirstName }}
                            {{ registration.partnerLastName }}
                            ({{- registration.partnerEmail -}})
                        {% endif %}
                    {% endif %}
                    <a href="{{ path('view_registration', {'id': registration.id}) }}" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Voir
                    </a>
                    {% if is_granted("validate", registration) %}
                        <a href="{{ path('validate_registration', {'id': registration.id}) }}" class="btn btn-default btn-xs"
                           data-toggle="tooltip" data-placement="top" title="Valider">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                    {% if is_granted("wait", registration) %}
                        <a href="{{ path('wait_registration', {'id': registration.id}) }}" class="btn btn-default btn-xs"
                           data-toggle="tooltip" data-placement="top" title="Mettre en list d'attente">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                    {% if is_granted("cancel", registration) %}
                        <a href="{{ path('cancel_registration', {'id': registration.id}) }}" class="btn btn-default btn-xs"
                           data-toggle="tooltip" data-placement="top" title="Annuler">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    {% endif %}
                </li>
            {% else %}
                <li>Pas (encore !) d'inscriptions</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_granted("edit", topic) %}
        <h3>Liste des admins :</h3>
        {{ topic.owners|join(', ') }}

        <h3>Liste des moderateurs :</h3>
        {{ topic.moderators|join(', ') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
