{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Détails du paiement</h2>

    Status du paiement : {{ payment.state }}<br>
    Type de paiement : {{ payment.type }}<br>
    Montant : {{ payment.amount }} &euro;<br>
    Date de paiement : {{ payment.date|date('d/m/Y', timezone="Europe/Paris") }}<br>

    {% import "GSApiBundle:PaymentItem:macros.html.twig" as macro %}
    <h3>Liste des inscriptions payées :</h3>
    <ul>
        {% for item in payment.items %}
            <li>
                {{ macro.print(item) }}
            </li>
        {% endfor %}
    </ul>

    <h3>Commentaires</h3>
    <div class="well">
        {{ payment.comment }}
    </div>

    {% if payment.invoice %}
        <a href="{{ path('view_invoice', {'id': payment.invoice.id}) }}" target="_blank" class="btn btn-default">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
            Télécharger la facture
        </a>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
